* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;
}
.bg-custom{
    background-color: #A89989;
}

.navbar {
    background-color: #A89989;
    height: 80px;
    padding: 0.5rem;
}
.navbar .navbar-brand {
    font-weight: 700;
    color: black;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    transition: 0.3s color;
}
.nav-item .nav-link{

    font-family: Oswald, sans-serif;
    font-size: 17px;
}
.account-button ,
.favourites-button,
.shopping-button{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin: 2px;
}

.account-button:hover,
.shopping-button:hover,
.favourites-button:hover{
    background-color: lightgrey;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
.hero-section {
    background: url('../photo/mickey.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-section-1{
    background: url('../photo/unnamed.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 10px;
}
.hero-section-2{
    background: url('../photo/kowno.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 10px;
    background-position: center 0;
}
.hero-section-3{
    background: url('../photo/rower.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 10px;
}
.hero-section-4{
    background: url('../photo/jordan.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 10px;
}
.hero-section-specialoffer{
    background: url('../photo/pexels-photo-5405648.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 15px;
}
.hero-section-women{
    background: url('../photo/women2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
    position: relative;
    background-position: center 0;
}
.hero-section-men{
    background: url('../photo/men.jpg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
    position: relative;
    background-position: center 0;
}
.hero-section-sport{
    background: url('../photo/retromilan.jpg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
    position: relative;
    background-position: center 20%;
}
.hero-section-accesories{
    background: url('../photo/akces.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 400px;
    position: relative;
}
.hero-section::before,
.hero-section-1::before,
.hero-section-2::before,
.hero-section-3::before,
.hero-section-4::before,
.hero-section-specialoffer::before,
.hero-section-women::before,
.hero-section-men::before,
.hero-section-sport::before,
.hero-section-accesories::before{
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container,
.hero-section-1 .container,
.hero-section-2 .container,
.hero-section-3 .container,
.hero-section-4 .container,
.hero-section-specialoffer .container,
.hero-section-women .container,
.hero-section-men .container,
.hero-section-sport .container,
.hero-section-accesories .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    z-index: 1;
    position: relative;
}

.hero-section h1,
.hero-section-1 h1,
.hero-section-2 h1,
.hero-section-3 h1,
.hero-section-4 h1,
.hero-section-specialoffer h1,
.hero-section-women h1,
.hero-section-men h1,
.hero-section-sport h1,
.hero-section-accesories h1{
    font-size: 3rem;
    margin: 0;
    font-family: Oswald, sans-serif;
    font-weight: bold;
}

.hero-section h2 {
    font-size: 2rem;
    margin: 10px 0 0;
    font-family: Oswald, sans-serif;
}
.card-title{
    font-family: Oswald, sans-serif;
    font-size: 17px;
}
.card-text{
    font-family: Oswald, sans-serif;
    font-size: 17px;
}
.card{
    margin-bottom: 50px;
}
.card.no-border {
    border: none;
    transition: border 0.3s ease-in;
}

.card.no-border:hover {
    border: 1px solid #A89989;
}
.dropdown{
    margin-top: 0;
    font-family: Oswald, sans-serif;
}
.dropdown .btn-primary {
    background-color: #4b3621;
    border-color: #4b3621;
}
.dropdown .btn-primary:hover, .dropdown .btn-primary:focus, .dropdown .btn-primary:active {
    background-color: #3e2f1c;
    border-color: #3e2f1c;
}
.dropdown-menu {
    background-color: #4b3621;
}
.dropdown-menu .form-check-label {
    color: black;
}
.dropdown-menu .btn-primary {
    background-color: #3e2f1c;
    border-color: #3e2f1c;
}
.dropdown-menu .btn-primary:hover, .dropdown-menu .btn-primary:focus, .dropdown-menu .btn-primary:active {
    background-color: #2f2415;
    border-color: #2f2415;
}
.box-container{
    background-color: #A89989;
    width: 100%;
    padding: 20px 0;
}
.dropdown.mx-1 {
    margin-left: 2px;
    margin-right: 2px;
}
.search-container {
    position: relative;
}
.search-form {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    background-color: #A89989;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.search-form input {
    flex-grow: 1;
    display: none;
}
.search-toggle {
    margin-right: 10px;
}
.desktop-buttons{
    margin: 0 10px;
}
.divider {
    width: 1px;
    height: 40px;
    margin: 10px;
    background-color: black;
}
.carousel-inner{
    height: 500px;
}
.carousel-item img{
    height: 500px; /* Stała wysokość obrazów */
    min-height: 500px; /* Minimalna wysokość obrazów */
    max-height: 500px; /* Maksymalna wysokość obrazów */
    object-fit: cover; /* Utrzymanie proporcji */
    width: 100%; /* Pełna szerokość */
}
.carousel-caption h1{
    font-family: Oswald, sans-serif;
}
.modal-content {
    padding: 20px;
}
.modal-header {
    border-bottom: none;
}
.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Oswald, sans-serif;
}
.form-label {
    font-weight: bold;
}
.form-control {
    margin-bottom: 1rem;
}
.modal-content .btn-primary{
    background-color: #A89989;
    border: none;
}
.modal-content .btn-primary:hover {
    background-color: #333;
}
.btn-outline-secondary {
    border-color: black;
    color: black;
}
.btn-outline-secondary:hover {
    background-color: black;
    color: white;
}
.forgot-password {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #007bff;
}
.forgot-password:hover {
    text-decoration: underline;
}
.custom-form{
    font-family: Oswald, sans-serif;
}
.modal-body p{
    font-family: Oswald, sans-serif;
}
.addCart{
    background-color: #A89989;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Oswald, sans-serif;
}
.addCart:hover{
    background-color: darkgray;
}
.addToFavorites{
    background-color: #A89989;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Oswald, sans-serif;
}
.addToFavorites:hover{
    background-color: darkgray;
}
.product {
    margin: 10px;
}
.cart {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
}
.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.cart-item h5, .cart-item p {
    margin: 0;
    font-family: Oswald, sans-serif;
}
.cart-item .cart-item-info {
    flex: 1;
}
.cart-item .remove-btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}
.total-price h3{
    font-family: Oswald, sans-serif;
    margin-top: 10px;
}
.container h1{
    font-family: Oswald, sans-serif;
    margin-bottom: 10px;
}