body{
    background-color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.box{
    width: 100%;
    height: 185px;
    background-color: #A89989;
    position: relative;
    padding: 0 20px;
    border: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.title{
    color: black;
    font-size: 64px;
    font-family: "Lato", serif;
    margin-top: 10px;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.categories{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 40px;
    position: absolute;
    top: 140px;
    font-family: Lato, serif;
}
.category{
    color: black;
    font-size: 20px;
    margin-right: 60px;
    margin-top: -30px;
}
.category a {
    text-decoration: none;
    color: black;
}
.buttonaboutus{
    background-color: #464646;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px 0 0 35px;
    font-size: 16px;
    border-radius: 20px;
    position: absolute;
    left: 20px;
}
.buttonsearch{
    background-color: #464646;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 70px 0 0 auto;
    font-size: 16px;
    border-radius: 20px;
    float:right;
    position: absolute;
    right: 20px;
    width: 337px;
}
.buttonfavourites{
    background-color: #464646;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px 0 0 auto;
    font-size: 16px;
    border-radius: 20px;
    float:right;
    position: absolute;
    right: 232px;
}
.buttonaccount{
    background-color: #464646;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px 0 0 auto;
    font-size: 16px;
    border-radius: 20px;
    float:right;
    position: absolute;
    right: 130px;
}
.buttonshoppingcart{
    background-color: #464646;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    font-size: 16px;
    border-radius: 20px;
    float:right;
    position: absolute;
    right: 20px;
}
.recommended-box{
    width: 100%;
    height: 420px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.recommended-box img{
    width: 1200px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.recommended-text{
    position: absolute;
    left: 423px;
    top: 235px;
    color: white;
    font-size: 30px;
    font-family: Lato, serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    transform: skew(-10deg);
}
.thematic-box{
    width: 100%;
    height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.thematic-box img{
    width: 1200px;
    height: auto;
    object-fit: contain;
    object-position: center;
}
.thematic-text{
    position: absolute;
    left: 423px;
    top: 1148px;
    color: white;
    font-size: 30px;
    font-family: Lato, serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    transform: skew(-10deg);
}
.highlighted-box{
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.highlighted-box img{
    width: 1200px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.highlighted-text{
    position: absolute;
    left: 423px;
    top: 1920px;
    color: white;
    font-size: 30px;
    font-family: Lato, serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    transform: skew(-10deg);
}
.newest-box{
    width: 380px;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 140px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.newest-box img{
    width: 380px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.newest-text{
    position: absolute;
    text-align: center;
    top: 2080px;
    color: black;
    font-size: 30px;
    font-family: Lato, serif;
    padding: 5px 10px;
}
.recentlyviewed-box{
    width: 285px;
    height: 285px;
    margin-right: 20px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.recentlyviewed-box img{
    width: 285px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.recentlyviewed-text{
    position: absolute;
    text-align: center;
    top: 2650px;
    color: black;
    font-size: 30px;
    font-family: Lato, serif;
    padding: 5px 10px;
}
.footer-box{
    width: 100%;
    height: 400px;
    background-color: #A89989;
    position: relative;
    margin-top: 400px;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    border: none;
}